<h3>new course</h3>

<form action='myapp.fpl' method='post'>
  <input type='hidden' name='page' value='course_got_created'>
    <input type='hidden' name='csrf_token' value='<TMPL_VAR NAME=csrf_token>'>
  <div>
  </div>
<br>
  <table class='table'>
    <tr>
      <th>course_id</th>
      <td>
        <input name='course_id' value=''>
    </tr>
  
    <tr>
      <th>course_title</th>
      <td>
        <input name='course_title' value=''>
    </tr>
  
    <tr>
      <th>topic</th>
      <td>
        <textarea name='topic' rows=3></textarea>
    </tr>
  
    <tr>
      <th>day_length</th>
      <td>
        <input name='day_length' value=''>
    </tr>
  
    <tr>
      <th>price</th>
      <td>
        <input name='price' value=''>
    </tr>
  
    <tr>
      <th>level_id</th>
      <td>
        <input name='level_id' value=''>
    </tr>
  
    <tr>
      <th>category</th>
      <td>
        <input name='category' value=''>
    </tr>
  </table>
 <br>
  <div>
    <button type='submit' class='btn btn-primary'>Create</button>
  </div>
</form>
