<html>
  <header>
    <title>Training DB</title>
    <link href="View/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="View/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="View/css/base.css" rel="stylesheet" media="screen">
  </header>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="?page=top">Training DB</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="?page=top">Home</a></li>
              <li><a href="?page=course_create">new</a></li>
              <li><a href="?page=all">view all</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
 <div class="container" style="margin-top:30px;">
