<h3>Training DB Webapp</h3>
<div>

</div>


<div>
  <!--<img src='/img/top-img.png'>-->
  <img src='View/images/dena_logo.png' style='width: 150px;' alt='top page'>

</div>

<h3>Search</h3>
<!-- all course -->
<div>
  <a href='?page=all'>all course</a>
</div>
<br>

<!-- findByKey -->
<form action='myapp.fpl' method='get'>
  <input type='hidden' name='page' value='course_search_key'>
  keyword: <input name='key'>
  <button type='submit' class='btn btn-primary'>Search</button>
</form>

<!-- findByCategory -->
<form action='myapp.fpl' method='get'>
  <input type='hidden' name='page' value='course_search_category'>
  category: <input name='category'>
  <button type='submit' class='btn btn-primary'>Search</button>
</form>

<br>

